* {
  text-align: center;
} 

.start {
  background-color: rgb(226, 73, 73);
  border: 3px, solid, black;
  border-radius: 14px;
  color: white;
  font-size: 20px;
  
}
#quiz {
  display: block;
  margin: 60px auto;
  padding: 25px;
  width: 40vw;

}
#timer {
  font-weight: bolder;
  font-size: 30px;
  align-content: space-around;
}
#leaderboard {
  float: left;
  font-weight: bolder;
  font-size: 30px;
  color: black;
  top: 80%;
}
ol {
  list-style: none;
   
}

.bu {
  display: flex;
  
  background-color: rgb(226, 73, 73);
  color: white;
  border-radius: 15px;
  margin:3px;
}

#high {
position: relative;
align-items: center;
text-align: center;  
font-weight: bolder;
font-size: 30px;
}

/* Leaderboard styling */

#table {
    font-size: 20px;
    padding:10px;
    margin-left: auto;
    margin-right: auto;
}
tr:nth-child(even) {
    background-color: #dddddd;
  }

  .box{
    display: block;
    background-color:	#4f93a8;
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: grey 0 5px 5px 0,
      rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    margin: 60px auto;
    padding: 25px;
    width: 40vw;
  }

  


/* Media queries to make the sizing for a better UI */
@media screen and (max-width: 750px) {
  #timer {
    font-size: 20px;
  }
  #leaderboard {
    font-size: 20px;
  }
}
@media screen and (max-width: 550px) {
  #timer {
    font-size: 15px;
  }
  #leaderboard {
    font-size: 15px;
  }
}
